
h1 {
    text-align: center;
    background-color: rgb(82, 184, 184);
}

body {
    background: papayawhip;
    box-sizing: border-box;
    font-size: 20px;
}

.button-container {
    background-color: rgb(82, 184, 184);
    text-align: center;
    
}

.button {
    margin-bottom: 5px;
    margin-top: 5px;
   

}
.card {
  border: 2px solid;
    background-color: aliceblue;
    min-height: 40%;
    max-width: 100%;
    
}